body {
  display: flex;
}

.sidebar .list-locations {
  list-style: none;
  height: 100%;
  width: 250px;
  background-color: #ff0000;
  padding: 0;
}

.list-item {
  margin: 1px;
}

.list-item.name {
  font-size: 1rem;
}

.list-item.address {
  font-size: .75rem;
}

.sidebar .list-locations li {
  background-color: blue;
}